./Main.sh -l RealTimeLoader –s State1 -f ../Configurations/OPCUAServerAddressSpace.cfg
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-OPCUA-1.cfg -m
./Main.sh -l RealTimeLoader –s State1 -f ../Configurations/OPCUAServerAddressSpace.cfg
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-OPCUA-2.cfg -m
./Main.sh -l RealTimeLoader –s State1 -f ../Configurations/OPCUA-App-Monitor.cfg
./Main.sh -l RealTimeLoader –s State1 -f ../Configurations/OPCUAServerAddressSpace.cfg
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-OPCUA-3.cfg -m
./Main.sh -l RealTimeLoader –s State2 -f ../Configurations/OPCUA-App-Monitor.cfg
