./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-1-1.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-1-2.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-1-3.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-1-4.cfg -s State2
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-1-5.cfg -s State1
