./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-1.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-2.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-3.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-4.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-5.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-6.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-7.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-7.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-8.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-9.cfg -s State1
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-10.cfg -m StateMachine:START
./Main.sh -l RealTimeLoader -f ../Configurations/RTApp-2-11.cfg -m StateMachine:START
